<div>
  <strong>I'm the cart component</strong>
</div>

<p>Our initial cart items are {{ items }}</p>

<p>To add to the cart, enter a value here and click "Add Item":</p>

<input type="text" [(ngModel)]="newItem" placeholder="Enter an item here" />
<button
  (click)="onAddItem()"
  class="btn"
  [ngClass]="{ 'btn-primary': newItem !== '', 'btn-default': newItem === '' }"
  [disabled]="newItem === ''"
>
  Add Item
</button>

<p *ngIf="newItem === ''">Please enter a value!</p>
<hr />

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let item of items; let i = index"
    [ngStyle]="{ backgroundColor: i % 2 === 0 ? 'yellow' : 'blue' }"
  >
    {{ item }}
  </li>
</ul>
