<div>
  <ul class="nav nav-tabs">
    <li class="nav-item" [ngClass]="{ active: chosenList === 'all' }">
      <a class="nav-link" (click)="onChoose('all')" style="cursor: pointer;"
        >All</a
      >
    </li>
    <li class="nav-item" [ngClass]="{ active: chosenList === 'light' }">
      <a class="nav-link" (click)="onChoose('light')" style="cursor: pointer;"
        >Light</a
      >
    </li>
    <li class="nav-item" [ngClass]="{ active: chosenList === 'dark' }">
      <a class="nav-link" (click)="onChoose('dark')" style="cursor: pointer;"
        >Dark</a
      >
    </li>
  </ul>
  <app-list
    [characters]="getCharacters()"
    (sideAssigned)="onSideChosen($event)"
  ></app-list>
</div>
